extends layout

block content
  .add-container
    h1 Add New Inspiration
    form(action='/', method='POST')
      .form-group
        label(for='title') Title
        input(type='text', id='title', name='title', required)
      .form-group
        label(for='description') Description
        textarea(id='description', name='description', rows='4', required)
      .form-group
        label(for='image') Image URL
        input(type='url', id='image', name='image', required)
      button.btn(type='submit') Add Inspiration
